body {
  margin: 0;
}

:where(.css-f7vrd6).ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed{
  width: calc('auto' + 1rem);
}

.ant-space-item{
  display: flex;
  align-content: center;
}

.layout-container {
  background-color: #ffffff;
  height: 100%;

  layout {
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #2e202f;
    height: 100vh;
  }
}

.layout-footer {
  padding: 0.4rem;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefaff;
  gap: 3rem;

  
  a{
    color: #999999;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li{
    

    span{
      font-size: 0.8rem;
      color: #999999;
    }
  }
}

.header-logo {
  height: 80%;
}

.container-content {
  background-color: #FEFAFF;
  /* background-color: #FEFAFF; */
  width: 100%;

  .content {
    margin: 0;
    text-align: center;
    height: 89vh;
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  /* background: red; */
  background: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(5, 5, 5, 0.06);
  width: 100%;

  .header-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.headerMovile {

  BurguerMenu {
    flex: 1;
  }

  .header-logo-container {
    flex: 3;
  }
}

.menu-content {
  background-color: #fff;
  border-radius: 0px 20px 20px 0px;
  max-width: 200;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.15) !important;
}

.ant-menu{
  gap: 1rem;
}

.sider-content {
  border-radius: 0px 20px 20px 0px;
  /* height: 100vh; */
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tenantContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 32px;
  /* color: #583775; */
  font-weight: 600;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FEFAFF;
}

.menu {
  border-right-style: solid;
  border-right-width: 1px;
  /* border-right-color: rgba(5, 5, 5, 0.06); */
}

.menuContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  /* border: #2e202f; */
}

.menuStyle {
  /* background-color: #2e202f; */
  color: #fff;
  border-radius: 0px 20px 20px 0px;
  max-width: 200;
  padding-top: 1vh;
  height: 97%;
}

.menuLayout {
  display: flex;
  align-content: center;
  align-items: center;
  justify-items: center;
  background: #fff;
}

.appVersion {
  text-align: center;
}

:where(.css-dev-only-do-not-override-f7vrd6).ant-menu .ant-menu-item,
:where(.css-dev-only-do-not-override-f7vrd6).ant-menu .ant-menu-submenu-title {
  white-space: inherit;
}

.ant-menu-item {
  padding: 3px 0;
}

.ant-menu-item-selected {
  background-color: #f5e5f5 !important;

  svg {
    opacity: 100%;
    stroke: #632973;
  }
}
